<div class="col-sm-9">
  <!--shown when logged in. contains list of assignments and modal for adding class-->
  <assignmentsController ng-switch-when='true'>
  </assignmenstController>

  <!--shown when not logged in. will contain a description + maybe a demo-->
  <div ng-switch-when='false'>
    <h1>//TODO</h1>
    <div class="alert alert-info">this will eventually contain a description</div>
  </div>
</div>

<!--holds the login/signup and classes parts of the page-->
<div class='col-sm-3' ng-controller='loginController'>
  <!--the login and signup stuff. shown when not logged in-->
  <div class="container" id="loginselector" ng-switch-when='false'>
    <!--tabs for login and sign up-->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#loginTab">log in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#signupTab">sign up</a>
      </li>
    </ul>

    <!--content for sign in/up tabs-->
    <div class="tab-content">
      <!--login form. shown when login tab selected-->
      <div id="loginTab" class="tab-pane container fade show active">
        <form name='loginForm' novalidate>
          <div class='form-group'>
            <label for='usernameInput'>email:</label>
            <input class='form-control' id='usernameInput' type='email' name='email' ng-model='formdata.email' required>
            <div class='alert-danger' ng-show='!loginForm.email.$pristine && !loginForm.email.$valid'>not a valid email address</div>
          </div>
          <div class='form-group'>
            <label for='passwordInput'>password:</label>
            <input class='form-control' id='passwordInput' type='password' name='password' ng-model='formdata.password' required>
            <div  class='alert-danger' ng-show='!loginForm.password.$pristine && !loginForm.password.$valid'>invalid password</div>
          </div>
          <div class='form-group'>
            <input type='button' value='log in' ng-click='login()' class='btn' ng-disabled='!loginForm.$valid'>
          </div>
        </form>
      </div>

      <!--signup form. shown when signup is selected-->
      <div id="signupTab" class="tab-pane container fade">
        <form name="signupForm">
          <div class='form-group'>
            <label for='SignupUsernameInput'>email:</label>
            <input class='form-control' id='SignupUsernameInput' type='email' name='email' ng-model='formdata.email' placeholder='your email' required>
            <div class='alert-danger' ng-show='!signupForm.email.$pristine && !signupForm.email.$valid'>not a valid email address</div>
          </div>
          <div class='form-group'>
            <label for='signupPasswordInput'>password:</label>
            <input class='form-control' id='signupPasswordInput' type='password' name='password' ng-model='formdata.password' placeholder='password' required>
            <div  class='alert-danger' ng-show='!signupForm.password.$pristine && !signupForm.password.$valid'>invalid password</div>
          </div>
          <div class='form-group'>
            <input type='button' value='sign up' ng-click='signup()' class='btn' ng-disabled='!signupForm.$valid'>
          </div>
        </form>
      </div>

    </div>
  </div>

  <!--shown when logged in. contains logic for showing and adding classes-->
  <div class="container" ng-switch-when='true' ng-controller='profileController'>
    <h2>profile for</h2>
    <h2>{{model.email}}</h2>
    <div class="row">
      <div class="col-lg-6">classes</div>
      <div class="col-lg-6">
        <button class="btn btn-secondary btn-sm float-right" data-toggle="modal" data-target="#classModal">+</button>

        <!--class creation modal-->
        <div id="classModal" class="modal fade">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                create a new class
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label for="className">class:</label>
                  <input type="text" id="className" class='form-control' ng-model="modalClass" placeholder="new class name here" autofocus>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary" ng-click="createClass()">create class</button>
                <button class="btn btn-secondary" data-dismiss="modal">close</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!--table with listing of all classes-->
    <table class="table">
      <tr ng-repeat='clss in model.classes' ng-class="{'text-primary': clss.class_id == model.selectedClass}" ng-click="set_selected_class(clss.class_id)">
        <td>{{clss.class_name}}</td>
        <td><button class="btn btn-sm float-right" ng-click='deleteClass(clss.class_id)'>-</button></td>
      </tr>
    </table>

    <!--log out button-->
    <button class="btn btn-danger btn-block float-center" ng-click='logout()'>logout</button>
  </div>
</div>

